nextflow.enable.dsl=2
params {
  
  help = false

  // output directory
  outdir = './RNAseq_Results'

  // Input reads and reference files
  indir = null 
  reads = false
  cdna = false 
  fasta = false
  gff = false
  
  // Additional arguments
  trim_args = "--fastqc"
  salmonindex = null
  sal_quant_args = "--libType=A --validateMappings"
  hisatindex = null
  threads = 16
}


process {
 // Defaults for all processes
   
   container = 'nfcore/rnaseq'  
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "$params.outdir/report.html"
  overwrite = true
}

profiles {
    
  slurm { includeConfig './configs/slurm.config' }
  
  docker { docker.enabled = true }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

executor {
  submitRateLimit = '10 sec'
}

manifest {
name = 'RNAseq-pipeline'
author = 'Sharu Paul'
homePage = 'https://github.com/SharuPaul/'
description = 'NextFlow dsl2 pipeline for RNASeq analysis'
mainScript = 'main.nf'
version = '1.0.0'
}
